---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About page">
    <section>
        <h4 class="title-red">About Astro</h4>
        <p class="mb-3">
            Estoy construyendo un sitio web en astro y lo suficiente para
            conocer es que sepa hacer sitios web estáticos y subir los a github
            para que así cualquier sitio simple de subir sea posible de subir y
            yo pueda hacerlo en el menor tiempo posible
        </p>
        <h4 class="title-red">Funcionalidad</h4>
        <p class="mb-3">
            Los sitios de astro sol simples y rápidos para desplegar y las
            funcionalidades se reducen a unas cuantas líneas de código Asi que
            no hay problema para desplegar este sitio en cualquier plataforma.
        </p>
    </section>
</Layout>
