---
import Layout from "../layouts/Layout.astro";
import Launches from "../components/Launches.astro";
---

<Layout title="Space Launches">
    <h4 class="title-red">Space Launches</h4>
    <p>
        Este es un ejemplo del sitio web estático cuando se hizo una llamada a
        una API y se generó una vista sencilla de los resultados obtenidos con
        Astro
    </p>
    <Launches/>
</Layout>
